body {
    font-family: Arial, Helvetica, sans-serif;
}
.rounded-0,.card-img-top{
    width:330px;
    height: 200px;
}
.contianer-fluid {
    max-width: 960px;
    margin: 5px auto;
   
}

.checked {
    color: orange;
}
#mgy{
    height: 850px;
    margin-top: 10px;
    margin-left: 5px;
}
#miso{
    height: 880px;
    margin-top: 10px;
    margin-left: 5px;
}
#sky{
height: 890px;
margin-top: 10px;
margin-left: 5px;
}
.card {
    width: 21rem;
    height: 950px;
    margin-top: 10px;
    margin-left: 5px;
}


.fas {
    color: rgb(65, 105, 225);
    font-size: medium;
}

.fab {
    color: rgb(65, 105, 225);
    font-size: xx-large;
}
.rounded-circle{
    width: 30px;
    height: 25px;
}

