body{
    background-color: rgb(224, 224, 202);
    font-family: Arial, Helvetica, sans-serif;
}
.container-fluid{
    max-width: 960px;
}
.img-fluid{
    margin:5px auto 5px auto;
    width:250px;
    height: 250px;
}
iframe{
    width: 300px;
    height: 250px;
}
.card{
    margin-top: 5px;
    margin-bottom: 7px;
    background-color: rgb(224, 224, 222);
}
.card-body{
    margin-left: 10px;
    font-size: medium;
}
.rounded-0{
    width: 50px;
    height: 25px;
}