body{
    font-family: Arial, Helvetica, sans-serif;
   background-color: coral;
}
.card{
    width: fit-content;
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.5), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
    margin: auto auto;
}